@import "tailwindcss";
/* or, for config-driven setup (older method): */

@tailwind utilities;

body {
  font-family: 'Rubik', sans-serif;
}

.common-container {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
  margin-right: 20px;
}